<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Home</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a
          href="/adminhome"
          class="nav-link link-dark px-2 active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a
          href="/logout"
          class="nav-link link-dark px-2">Logout</a></li>
      <li class="nav-item">
        <label class="nav-link link-dark px-2" id="welcomeUserName">Logged in User: ...</label>
      </li>
    </ul>
  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">Available Medicine Details </h5>
  </div>
</header>

<main class="container">

  <div class="mb-5">

    <a href="/addmedicine" role="button" id=”addMedicine” class="btn btn-outline-primary">Add
      Medicine Details </a>
    <a href="/adminViewDonations" role="button" id=”viewAllDonateData”
       class="btn btn-outline-primary">View All User Donate Data </a>
    <a href="/adminViewRequests" role="button" id=”viewAllRequestData”
       class="btn btn-outline-primary">View All User Request Data </a>

  </div>

  <table class="table table-bordered pt-5">
    <thead>
    <tr>
      <th scope="col">Medicine Id</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Quantity</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th id="medId1" scope="row">1</th>
      <td id="medName1">medName1</td>
      <td id="medCategory1">medCategory1</td>
      <td id="medQty1">medQty1</td>
    </tr>

    <tr>
      <td colspan="6">
        <div class="text-center">
          <label id=”noData”>No medicines found</label>
        </div>
      </td>

    </tr>
    </tbody>
  </table>

</main>


<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>