<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Request Details</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a
          href="/adminhome"
          class="nav-link link-dark px-2 active" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a
          href="/logout"
          class="nav-link link-dark px-2">Logout</a></li>
      <li class="nav-item">
        <label class="nav-link link-dark px-2" id="welcomeUserName">Logged in User: ...</label>
      </li>
    </ul>
  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">All Request Details</h5>
  </div>
</header>

<main>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Medicine Quantity</th>
      <th scope="col">Donor Name</th>
      <th scope="col">Pickup Address</th>
      <th scope="col">Donated Date</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td id="medCategory"></td>
      <td id="medName"></td>
      <td id="medQty"></td>
      <td id="donorName"></td>
      <td id="pickupAddress"></td>
      <td id="donatedDate"></td>
    </tr>

    <tr>
      <td colspan="6">
        <div class="text-center">
          <label id=”noData”>No data found</label>
        </div>
      </td>

    </tr>
    </tbody>
  </table>

</main>


<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>