<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Home</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">Available Medicine Details </h5>
  </div>
</header>

<main class="container">

  <div class="mb-5">

    <a href="/userRequestMedicine" role="button" id=”requestMedicine”
       class="btn btn-outline-primary">Request
      Medicine</a>
    <a href="/userDonateMedicine" role="button" id=”donateMedicine” class="btn btn-outline-primary">Donate
      Medicine</a>
    <a href="/userViewDonateMedicine" role="button" id=”viewDonateMedicine”
       class="btn btn-outline-primary">View Donate
      Medicine</a>

  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Medicine Quantity</th>
      <th scope="col">Requester Name</th>
      <th scope="col">Delivered Address</th>
      <th scope="col">Requested Date</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td id="medCategory"></td>
      <td id="medName"></td>
      <td id="medQty"></td>
      <td id="reqName"></td>
      <td id="delAddress"></td>
      <td id="reqDate"></td>
    </tr>

    <tr>
      <td colspan="6">
        <div class="text-center">
          <label id=”noData”>No data found</label>
        </div>
      </td>

    </tr>
    </tbody>
  </table>

</main>


<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>