<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Home</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">Available Medicine Details </h5>
  </div>
</header>

<main class="container">

  <div class="mb-5">

    <form th:action="@{/userRequestMedicine}" method="get" action="#">
      <button id="requestMedicine" th:id="requestMedicine" name="requestMedicine" th:name="requestMedicine"
              class="btn btn-outline-primary">Request Medicine</button>
    </form>

    <form th:action="@{/userDonateMedicine}" method="get" action="#">
      <button id="donateMedicine" th:id="donateMedicine" name="donateMedicine" th:name="donateMedicine"
              class="btn btn-outline-primary">Donate Medicine</button>
    </form>

    <form th:action="@{/userViewDonateMedicine}" method="get" action="#">
      <button id="viewDonateMedicine" th:id="viewDonateMedicine" name="viewDonateMedicine" th:name="viewDonateMedicine"
              class="btn btn-outline-primary">View Donate Medicine</button>
    </form>

  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Medicine Quantity</th>
      <th scope="col">Requester Name</th>
      <th scope="col">Delivered Address</th>
      <th scope="col">Requested Date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="request, loop : ${requestList}">
      <td th:id="medCategory+${loop.index + 1}"  th:text="${request.category}"></td>
      <td th:id="medName+${loop.index + 1}" th:text="${request.name}"></td>
      <td th:id="medQty+${loop.index + 1}" th:text="${request.quantity}"></td>
      <td th:id="reqName+${loop.index + 1}" th:text="${request.username}"></td>
      <td th:id="delAddress+${loop.index + 1}" th:text="${request.address}"></td>
      <td th:id="reqDate+${loop.index + 1}" th:text="${#dates.format(request.requestedDate, 'dd-MM-yyyy')}"></td>
    </tr>

    <tr th:if="${#lists.isEmpty(requestList)}">
      <td colspan="6">
        <div class="text-center">
          <label id="noData">No data found</label>
        </div>
      </td>

    </tr>
    </tbody>
  </table>

</main>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>