<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Medicine Donate Details</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">Medicine Donate Details</h5>
  </div>
</header>

<main class="container">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Donate Quantity</th>
      <th scope="col">Donor Name</th>
      <th scope="col">Pickup Address</th>
      <th scope="col">Donated Date</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td id="medCategory"></td>
      <td id="medName"></td>
      <td id="medQty"></td>
      <td id="reqName"></td>
      <td id="pickAddress"></td>
      <td id="donatedDate"></td>
    </tr>

    <tr>
      <td colspan="6">
        <div class="text-center">
          <label id=”noData”>No data found</label>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</main>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>