<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Medicine Donate Details</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex justify-content-around">
    <h5 class="h5">Medicine Donate Details</h5>
  </div>
</header>

<main class="container">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Medicine Category</th>
      <th scope="col">Medicine Name</th>
      <th scope="col">Donate Quantity</th>
      <th scope="col">Donor Name</th>
      <th scope="col">Pickup Address</th>
      <th scope="col">Donated Date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="donate, loop : ${donationsList}">
      <td th:id="medCategory+${loop.index + 1}" th:text="${donate.category}"></td>
      <td th:id="medName+${loop.index + 1}" th:text="${donate.name}"></td>
      <td th:id="medQty+${loop.index + 1}" th:text="${donate.quantity}"></td>
      <td th:id="donorName+${loop.index + 1}" th:text="${donate.username}"></td>
      <td th:id="pickupAddress+${loop.index + 1}" th:text="${donate.address}"></td>
      <td th:id="donatedDate+${loop.index + 1}" th:text="${donate.requestedDate}"></td>
    </tr>

    <tr th:if="${#lists.isEmpty(donationsList)}">
      <td colspan="6">
        <div class="text-center">
          <label id=”noData”>No data found</label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</main>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>